<table>
  <tr>
    <th></th>
    <th>dic</th>
    <th></th>
    <th>idf</th>
  </tr>
  <% for (var l in loc) { var ll = loc[l]; %>
  <tr>
    <% var word = dictionary[ll.id] || {} %>
    <td><a href="/dictionaries/search/?id=<%= ll.id %>"><%= word.w %></a></td>
<!--
    <td><%= ll.id %></td>
-->
    <td><%= ll.id %></td>
    <td style="text-align: left;"><%= ll.score %></td>
    <td style="text-align: left;"><a href="/idfs/<%= meta.idf %>/<%= word.w %>"><%= word.idf %></a></td>
  </tr>
  <% } %>
</table>
