<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/phrases/<%= name %>"><%= name %></a></h1>

    <input id="word" type="text"></input>
    <button id="search">検索</button>

    <table>
      <tr>
        <th></th>
        <th>phrase</th>
        <th>words</th>
        <th>c-value</th>
      </tr>
      <% for (var i in phrases) { var phrase = phrases[i]; %>
      <tr>
        <td><button class="put_phrase" value="<%= phrase._id %>">辞書登録</button></td>
        <th><%= phrase._id %></th>
        <td><%= phrase.ws.join(', ') %></td>
        <td><%= phrase.tcv %></td>
        <td><button class="del_phrase" value="<%= phrase._id %>">削除</button></td>
      </tr>
      <% } %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script><!--
$(function(){
  $('#search').click(function(e){
    new_location = '/phrases/<%= name %>/' + $('#word').val();
    location.href = new_location;
  });
  $('button.put_phrase').click(function(e){
    var button = $(this);
    $.get('/phrases/<%= name %>?new_word='+button.val(), function(body, result){
      if ( result === 'success' ) {
        button.closest('tr').remove();
      }
    });
  });
  $('button.del_phrase').click(function(e){
    var button = $(this);
    $.get('/phrases/<%= name %>?del_word='+button.val(), function(body, result){
      if ( result === 'success' ) {
        button.closest('tr').remove();
      }
    });
  });
});
	--></script>
  </body>
</html>
