<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/documents/<%= name %>"><%= name %></a></h1>

    <h3><%= search %> ( <%= documents.length %> ) </h3>

    <table>
      <tr>
        <th></th>
      </tr>
      <% for (var i in documents) { var document = documents[i]; %>
      <tr>
        <th><a href="/documents/<%= name %>/show/?id=<%= _id_link(document._id) %>"><%= document._id %></a></th>
      </tr>
      <tr>
        <td style="white-space: normal; text-align: left;"><%= document.doc %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
