<h3><a href="/clusters/<%= name %>/<%= cluster._id %>"><%= cluster._id %> ( <%= cluster.s %> )</a> : <%= val %></h3>
<%- render_partial('clusters/loc', {render_partial: render_partial, name: name, meta: meta, loc: cluster.loc, dictionary: dictionary}) %>
