<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/idfs/<%= name %>"><%= name %></a></h1>

    <h3><%= search %> ( <%= idfs.length %> ) </h3>
    [<a href="?deleted=">score順</a>] [<a href="?deleted=1">無効化済み</a>]
    <table>
      <tr>
        <th>_id</th>
        <th>word</th>
        <th>type</th>
        <th>idf</th>
        <th>dic boost</th>
        <th></th>
      </tr>
      <% for (var i in idfs) { var idf = idfs[i]; %>
      <tr>
        <th><%= idf._id %></th>
        <td><%= dictionary[idf._id].w %></td>
        <td><%= dictionary[idf._id].t %></td>
        <td><%= idf.value %></td>
        <td><%= dictionary[idf._id].i %></td>
        <td><button class="del" op="del_word" value="<%= idf._id %>">IDF無効化</button></td>
        <td><button class="del" op="del_dic" value="<%= idf._id %>">辞書無効化</button></td>
      </tr>
      <% } %>
    </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script><!--
$(function(){
  $('button.del').click(function(e){
    var button = $(this);
    $.get('/idfs/<%= name %>?'+button.attr('op')+'='+button.val(), function(body, result){
      if ( result === 'success' ) {
        button.closest('tr').remove();
      }
    });
  });
});
	--></script>
  </body>
</html>
