<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/idfs/<%= name %>"><%= name %></a></h1>
    <input id="word" type="text"></input>
    <button id="search">検索</button>
    <h3><%= search %> ( <%= idfs.length %> ) </h3>
    [<a href="?deleted=">score順</a>] [<a href="?deleted=1">無効化済み</a>]
    <table>
      <tr>
        <th>_id</th>
        <th>word</th>
        <th>type</th>
        <th>idf</th>
        <th>dic boost</th>
      </tr>
      <% for (var i in idfs) { var idf = idfs[i]; %>
      <tr>
        <th><%= idf._id %></th>
        <td><%= dictionary[idf._id].w %></td>
        <td><%= dictionary[idf._id].t %></td>
        <td><%= idf.value %></td>
        <td class="input">
          <span><%= dictionary[idf._id].i %></span>
          <input type="number" name="i" value="<%= dictionary[idf._id].i %>"/>
          <button class="update" op="update_dic" value="<%= idf._id %>">boost 更新</button>
        </td>
        <td><button class="del" op="del_word" value="<%= idf._id %>">IDF無効化</button></td>
      </tr>
      <% } %>
    </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script><!--
$(function(){
  $('#search').click(function(e){
    new_location = '/idfs/<%= name %>/' + $('#word').val();
    location.href = new_location;
  });
  $('button.del').click(function(e){
    var button = $(this);
    $.get('/idfs/<%= name %>?'+button.attr('op')+'='+button.val(), function(body, result){
      if ( result === 'success' ) {
        button.closest('tr').remove();
      }
    });
  });
  $('td.input').click(function(e){
    $(this).addClass('edit');
  });
  $('button.update').click(function(e){
    var button = $(this);
    var input = button.closest('tr').find('input[name="i"]');
    $.get('/idfs/<%= name %>?'+button.attr('op')+'='+button.val()+ '&i=' + input.val(), function(body, result){
    if ( result === 'success' ) {
        var val = input.val();
        var td = input.closest('td');
        td.find('span').html(val);
        td.removeClass('edit');
      }
    });
  });
});
	--></script>
  </body>
</html>
