<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <input id="word" type="text" value="<%= search %>"></input>
  <label for="ORG">ORG only</label>
  <input id="ORG" type="checkbox" <%= ORG ? 'checked="checked"' : ''%> ></input>
  <button id="search">検索</button>
  <button id="removeORG">ORG削除</button>
  <h3><%= search %> ( <%= words.length %> ) </h3>

  <table>
    <tr>
      <th>_id</th>
      <th>word</th>
      <th>type</th>
      <th>boost</th>
      <th>synonyms</th>
      <th>ORG</th>
      <th></th>
    </tr>
    <% for (var i in words) { var word = words[i]; %>
    <tr>
      <th><%= word._id %></th>
      <td><%= word.w %></td>
      <td><%= word.t.join(', ') %></td>
      <td class="input">
        <span><%= word.i %></span>
        <input type="number" name="i" value="<%= word.i %>"/>
        <button class="update" op="update_boost" value="<%= word._id %>">boost 更新</button>
      </td>
      <td class="input">
        <span><%= (word.sy||[]).join(' ') %></span>
        <input type="text" name="sy" value="<%= (word.sy||[]).join(' ') %>"/>
        <button class="update" op="update_sy" value="<%= word._id %>">synonym 更新</button>
      </td>
      <td>
        <% if (word.t.indexOf('ORG') >= 0) { %>
        <button class="del_org" op="del_org" value="<%= word._id %>">正式採用</button>
        <% } %>
      </td>
      <td>
        <button class="del" op="del_word" value="<%= word._id %>">削除</button>
      </td>
    </tr>
    <% } %>
  </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script><!--
$(function(){
  $('#search').click(function(e){
    new_location = '/dictionaries/' + $('#word').val() + '?ORG=' + $('#ORG').prop('checked');
    location.href = new_location;
  });
  $('#removeORG').click(function(e){
    var res = confirm('Are you sure?');
    if( res == true ) {
      new_location = '/dictionaries/remove_org/' + $('#word').val();
      location.href = new_location;
    }
  });
  $('button.del').click(function(e){
    var button = $(this);
    $.get('/dictionaries/update?'+button.attr('op')+'='+button.val(), function(body, result){
      if ( result === 'success' ) {
        button.closest('tr').remove();
      }
    });
  });
  $('button.del_org').click(function(e){
    var button = $(this);
    $.get('/dictionaries/update?'+button.attr('op')+'='+button.val(), function(body, result){
      if ( result === 'success' ) {
        button.remove();
      }
    });
  });
  $('td.input').click(function(e){
    $(this).addClass('edit');
  });
  $('button.update').click(function(e){
    var button = $(this);
    var input = button.closest('.input').find('input');
    $.get('/dictionaries/update?'+button.attr('op')+'='+button.val()+ '&val=' + input.val(), function(body, result){
    if ( result === 'success' ) {
        var val = input.val();
        var td = input.closest('td');
        td.find('span').html(val);
        td.removeClass('edit');
      }
    });
  });
});
	--></script>
  </body>
</html>
