<h1><%= name %></h1>
<ul>
  <% if (meta) { %>
    <% if (meta.kmeans) { %>
      <li><a href="/clusters/<%= meta.kmeans.cluster %>">クラスター</a></li>
      <li><a href="/documents/<%= meta.kmeans.data %>">ドキュメント</a></li>
    <% } %>
    <% if (meta.idf) { %>
      <li><a href="/idfs/<%= meta.idf %>">IDF</a></li>
    <% } %>
  <% } %>
	<li><a href="/phrases/<%= name %>.phrase">熟語抽出</a></li>
</ul>
