<h1><%= name %></h1>
<ul>
	<li><a href="/clusters/<%= name %>.token.vector.tfidf.kmeans.fin.cluster">クラスター</a></li>
	<li><a href="/documents/<%= name %>.token.vector.tfidf.kmeans.fin.cluster">ドキュメント</a></li>
	<li><a href="/idfs/<%= name %>.token.vector.idf">IDF</a></li>
	<li><a href="/phrases/<%= name %>.token.phrase">熟語抽出</a></li>
</ul>
<h1>Dictionary</h1>
<ul>
	<li><a href="/dictionaries/analysis.dictionary">辞書</a></li>
</ul>
